.container-fluid
  .row
    .col-md-6.col-sm-offset-3
      .bs-callout.bs-callout-primary
        %h4= @organization.name
        = @organization.description_to_html
        %p
          Click #{link_to "here", @organization.website, target: :_blank}
          for more information about #{@organization.name} and the procedures.
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th Procedure
              %th Practice
              %th Facility
              %th Price
          %tbody
            - @organization.procedures.active.each do |procedure|
              %tr
                %td= procedure.name
                %td= link_to procedure.practice.name, pricing_path(procedure.practice.path)
                %td= link_to procedure.facility.name, pricing_path(procedure.facility.path)
                %td= number_to_currency procedure.price, precision: 0
      - if page = Page.find_by(name: "Pricing Disclaimer")
        .bs-callout.bs-callout-danger
          %h4 Disclaimer
          %p The prices seen here may not apply to you. Click #{link_to "here", "/#{page.path}"} for more information.
