- if current_user
  .admin-navbar.navbar.navbar-default.center
    .container-fluid
      %ul.nav.navbar-nav
        %li= link_to "App", admin_apps_path
        - if current_user.admin
          %li= link_to "Pages", admin_pages_path
          %li= link_to "Organizations", admin_organizations_path
        %li= link_to "Users", admin_users_path
        %li= link_to "Procedures", admin_procedures_path
        %li= link_to "Logout", session_path, method: :delete
- if app.logo_image.present?
  %nav.container-fluid
    .row.bg-warning
      .logo
        = link_to root_path do
          = image_tag app.logo_image, class: "img-responsive"
